{% extends "admin/admin.html" %}


{% block main %}
<div class="content-wrapper" style="min-height: 643px;">
        <!--内容-->
        <section class="content-header">
            <h1>博客后台管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 标签管理</a></li>
                <li class="active">添加标签</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加标签</h3>
                        </div>
                        <form role="form" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input_name">标签名称</label>
                                    <input type="text" name="tag" class="form-control" id="input_name" placeholder="请输入标签名称！">
                                </div>
                            </div>
                            <div class="box-footer">
                                <input type="submit" class="btn btn-primary" value="添加">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
    </div>
{% endblock %}

