{% extends "base.html"%}

{% block headtitle %}
About --WSL
{%endblock%}

{% block title %}
<header>
    <h1 class="entry-title">关于我</h1>
    <p class="meta">
        <time datetime="2019-3-21" pubdate data-updated="true">2019-3-21</time>
    </p>
</header>

{% endblock %}

{% block article %}


{{info.text | safe}}


<footer>
    <p class="meta">

        <time datetime="2019-3-21" pubdate data-updated="true">2019-3-21</time>

    </p>

    <div class="sharing">

        <!--<a href="http://twitter.com/share" class="twitter-share-button"-->
           <!--data-url="http://akaptur.github.com/about/index.html" data-via=""-->
           <!--data-counturl="http://akaptur.github.com/about/index.html">Tweet</a>-->


    </div>


</footer>
{% endblock %}
