<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]>
<html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Blog Achieve --WSL</title>
    <meta name="author" content="WSL">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--<link rel="canonical" href="#">-->
    <link href="favicon.ico" rel="icon">
    <link href="screen.css" media="screen, projection" rel="stylesheet" type="text/css">



</head>

<body>
<header role="banner">
    <hgroup>
        <h1><a href="#">WSL' Blog</a></h1>

        <h2>We slept on the floor We waded through the river !</h2>

    </hgroup>

</header>
<nav role="navigation">

    <ul class="main-navigation">
        <li><a href="index.html">Blog</a></li>
        <li><a href="achieve.html">Archives</a></li>
        <li><a href="#">Talks</a></li>
        <li><a href="#">Other Writing</a></li>
        <li><a href="about.html">About</a></li>
    </ul>

</nav>
<div id="main">
    <div id="content">
        <div>
            <article role="article">

                <header>
                    <h1 class="entry-title">About Me</h1>
                    <p class="meta">


                        <time datetime="2014-05-25T13:14:00-07:00" pubdate data-updated="true">May 25<span>th</span>,
                            2014
                        </time>
                    </p>
                </header>

                <p>
                    　目光所致

                    　　也是你

                    　　往后余生

                    　　风雪是你

                    　　平淡是你

                    　　清贫也是你

                    　　荣华是你

                    　　心底温柔是你

                    　　目光所致

                    　　也是你

                    　　想带你去看晴空万里

                    　　想大声告诉你我为你着迷

                    　　往事匆匆

                    　　你总会感动

                    　　往后的余生

                    　　我只要你　目光所致

                    　　也是你

                    　　往后余生

                    　　风雪是你

                    　　平淡是你

                    　　清贫也是你

                    　　荣华是你

                    　　心底温柔是你

                    　　目光所致

                    　　也是你

                    　　想带你去看晴空万里

                    　　想大声告诉你我为你着迷

                    　　往事匆匆

                    　　你总会感动

                    　　往后的余生

                    　　我只要你
                </p>


                <footer>
                    <p class="meta">


                        <time datetime="2014-05-25T13:14:00-07:00" pubdate data-updated="true">May 25<span>th</span>,
                            2014
                        </time>

                    </p>

                    <div class="sharing">

                        <a href="http://twitter.com/share" class="twitter-share-button"
                           data-url="http://akaptur.github.com/about/index.html" data-via=""
                           data-counturl="http://akaptur.github.com/about/index.html">Tweet</a>


                    </div>


                </footer>

            </article>

        </div>

        <aside class="sidebar">

            <section>
                <h1>Recent Posts</h1>
                <ul id="recent_posts">

                    <li class="post">
                        <a href="/blog/2017/11/12/love-your-bugs/">Love your bugs</a>
                    </li>
                    <li class="post">
                        <a href="/blog/2017/11/12/love-your-bugs/">Love your bugs</a>
                    </li>
                </ul>
                <h1>Tags</h1>
                <ul id="">

                    <li class="post">
                        <a href="/blog/2017/11/12/love-your-bugs/">Love your bugs</a>
                    </li>
                    <li class="post">
                        <a href="/blog/2017/11/12/love-your-bugs/">Love your bugs</a>
                    </li>
                </ul>
            </section>


        </aside>


    </div>
</div>
<footer role="contentinfo"><p>
    Blog - WSL -
    <span class="credit">Powered by <a href="https://github.com/pallets/flask">Flask</a></span>
    <span class="credit">Theme From <a href="http://akaptur.com/">Allison Kaptur</a></span>
</p>
</footer>


<script type="text/javascript">

</script>


</body>
</html>
